:global(.ui.basic.label):local(.toolbarBtn) {
    border: none;
    i {
        margin-left: 0.5em;
    }
}

/* Deleted state */

:global(.deleted .ui.basic.label) {
    color: rgba(0, 0, 0, 0.4);
}
:global(.deleted .extra a.ui.basic.label:hover) {
    color: inherit;
}

:global(.ui.card.deleted > .content > .description),
:global(.ui.cards > .card.deleted > .content > .description) {
    color: rgba(0, 0, 0, 0.4);
}
